In [19]:
import pandas as pd
import numpy as np
from scipy.stats import stats

In [20]:
data = pd.read_excel('NEW STATIC.xlsx',engine = 'openpyxl')

In [21]:
data.head()

  Unnamed: 0  PAIN   PQ  OLBDQ    PW
0          1   3.0  3.0   16.0  67.0
1          2   3.0  4.0    9.0  76.0
2          3   8.0  1.0   13.0  79.0
3          4   8.0  1.0    0.0  82.0
4          5   6.0  1.0    1.0  77.0

In [47]:
data.tail()

         PAIN        PQ     OLBDQ         PW
297  6.000000  2.000000  11.00000  88.000000
298  7.000000  5.000000  10.00000  59.000000
299  7.000000  4.000000  15.00000  63.000000
300  5.079623  2.973333  10.95357  74.308904
301 -0.033614  2.973333   0.02468  -0.019975

### Check if there is any null value

In [22]:
data.isna().sum()

Unnamed: 0    1
PAIN          1
PQ            2
OLBDQ         1
PW            1
dtype: int64

<p>There is 1 NULL Value in PAIN<br>2 NULL Values in PQ<br> 1 NULL value in OLBDQ<br>1 NULL value in PW<br>and since unnamed column is not useful we can remove this column</p>

In [23]:
data.drop('Unnamed: 0',axis = 1,inplace = True)

In [24]:
data.head()

   PAIN   PQ  OLBDQ    PW
0   3.0  3.0   16.0  67.0
1   3.0  4.0    9.0  76.0
2   8.0  1.0   13.0  79.0
3   8.0  1.0    0.0  82.0
4   6.0  1.0    1.0  77.0

In [33]:
data['PAIN'] = data['PAIN'].fillna(data['PAIN'].mean())

In [34]:
data['PQ'] = data['PQ'].fillna(data['PQ'].mean())

In [36]:
data['OLBDQ'] = data['OLBDQ'].fillna(data['OLBDQ'].mean())

In [35]:
data['PW'] = data['PW'].fillna(data['PW'].mean())

In [38]:
data.isna().sum()

PAIN     0
PQ       0
OLBDQ    0
PW       0
dtype: int64

<h2> Descriptive Analysis</h2>

In [39]:
data.describe()

             PAIN          PQ       OLBDQ          PW
count  302.000000  302.000000  302.000000  302.000000
mean     5.079623    2.973333   10.953570   74.308904
std      1.547078    1.511623    4.239041   14.466049
min     -0.033614   -1.000000    0.000000   -0.019975
25%      4.000000    2.000000    7.250000   63.000000
50%      5.000000    3.000000   11.000000   75.000000
75%      6.000000    4.000000   14.000000   86.000000
max      8.000000    7.000000   19.000000   99.000000

### Correlation analysis

In [40]:
corr = data.corr()

In [41]:
corr.style.background_gradient(cmap='BrBG')

# Step 3: Hypothesis Testing - Assessing the relationship between PQ, OLBDQ, and PW
# Hypothesis: If PQ is high and OLBDQ is low, it supports the idea of neuropathic pain.
# If PW is low, it supports the idea of psychogenic pain.

# Pearson correlation coefficient between PQ and OLBDQ
correlation_PQ_OLBDQ, p_value_PQ_OLBDQ = stats.pearsonr(data['PQ'], data['OLBDQ'])

# Pearson correlation coefficient between PQ and PW
correlation_PQ_PW, p_value_PQ_PW = stats.pearsonr(data['PQ'], data['PW'])

# Pearson correlation coefficient between OLBDQ and PW
correlation_OLBDQ_PW, p_value_OLBDQ_PW = stats.pearsonr(data['OLBDQ'], data['PW'])