In [2]:
path = "C:\\Users\\Aditya Shakya\\Downloads\\Naive-Bayes-Classification-Data.csv"

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv(path)

In [6]:
df.head()

   glucose  bloodpressure  diabetes
0       40             85         0
1       40             92         0
2       45             63         1
3       45             80         0
4       40             73         1

In [7]:
df.shape

(995, 3)

In [8]:
df.corr()

                glucose  bloodpressure  diabetes
glucose        1.000000      -0.164553  0.031585
bloodpressure -0.164553       1.000000 -0.808303
diabetes       0.031585      -0.808303  1.000000